@if(authService.currentUserSig()){
<div class="nav">
  <app-user [userID]="authService.currentUserSig()?.userID!"></app-user>
  <hr>
  <div class="nav-bar">
    <ul class="nav-links">
      <li routerLinkActive="active">
        <a routerLink="/reviews">Обзоры</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/events">Мероприятия</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/teachers">Преподаватели</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/market">Барахолка</a>
      </li>
    </ul>

    <ul class="exit">
      <hr>
      <li>
        <a (click)="exit()">Выйти</a>
      </li>
    </ul>
  </div>
</div>
}